h1{
    color:rgb(55, 255, 122);
    position: absolute;
top: 30%;
left: 2%;
font-size: 60px;
}
p{
    text-align: left;
   
    }

.arrivals{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
   
}
.arrivals img{
  width: 60%;
}
.arrival-item{
  display: flex;
flex-direction: column;
align-items:center;

}
.text-arrivals{
    display: flex;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 2%;
    font-size: 35px;
    font-weight: 500;
}
hr{
    border: none;
    width: 85%;
    height: 3px;
    border-radius: 10px;
    background-color:rgb(51, 119, 223);
}
.home-studio{
    display: flex;
    justify-content: space-between;
margin-top: 10%;
}
.home-studio-text{
    display: flex;
    flex-direction: column;
   background-color:rgb(159, 255, 191);
   padding-left: 7%;
   padding-top: 7%;
}
.home-studio-text h3{
    padding-bottom: 10%;
    text-align: left;
    font-weight: 500;
    font-size: x-large;
}
.home-studio-text p{
    font-weight: 100;
    font-size: 18px;
}
.home-studio-photo{
 display: flex;
 justify-content: end;
}

.home-studio img{
   width: 80%;
   height: auto;
}
.fixed-photos{
    margin-top: 15%;
display: flex;
width: 100%;

}
.fixed-photo-item-first{
    width: 100%;
    height: 50vh;
    background-image: url('../../Components/Assets/burning-marshall.jpg') ;
    background-attachment: fixed;
    background-size: cover;
}
.strings{
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(214, 193, 97);
}
.strings-photo{
 display: flex;
    width: 40%;
    justify-content: start;
}
.strings-photo img{
   width: 400px;
    height: auto;
   
}
.strings-text{
    display: flex;
    flex-direction: column;
   padding: 6%;
}
.strings-text h3{
   margin-bottom: 15%;
   font-weight: 200;
   font-size: 25px;
}
.strings-text p{
    font-size: 22px;
    font-weight: 100;
   
}
.strings-text a{
  text-align: left;
  margin-top: 7%;
  font-size: 19px;
  color: rgb(199, 67, 67);
}
.burning-text{
    font-weight: 600;
}
.product-carousel{
    margin-top: 50px;
}
.product-carousel img{
width: 50%;
}