.navbar{
   font-weight: normal;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content:space-between;
    padding: 10px;
}
.nav-menu{
  
    display: flex;
    align-items: center;
    list-style: none;
    
    gap: 50px;
}
a{
    color: inherit;
}
.muza-text{
    margin-left: 2%;
    font-size: 22px;
}
.navbar-rightside{
    width: 200px;
display: flex;
align-items: center;

}
.navbar-rightside button{
    margin-right: 20px;
}
.navbar-rightside img{
width: 32px;
height: auto;

}
.nav-cart-count{
    margin-left: 5px;
    font-size: 19px;
    width: 30px;
   display: flex;
  
}
.username{
   margin-right: 50px;
}