.navbar{
   
    display: flex;
    height: 70px;
    align-items: center;
    justify-content:space-between;
    padding: 10px;
}
.nav-menu{
  
    display: flex;
    align-items: center;
    list-style: none;
    
    gap: 50px;
}
a{
    color: inherit;
}
.muza-text{
    margin-left: 2%;
}
.navbar-rightside{
display: flex;
align-items: center;
gap: 45px;
}
.navbar-rightside img{
width: 50%;
height: auto;

}