.footer{
    display: flex;
    flex-direction: column;
    height: 550px;
    padding: 7%;
    gap: 7%;
    text-align: left;
    background-color: aliceblue;
    margin-top: 5%;
}
.footer li{
    font-weight: 100;
    font-size: 18px;
}
.footer h2{
    font-weight: 200;
    font-size: 18px;
}
.muza{
    font-size: 40px;
    font-weight: 300;
}
.footer ul li{
    list-style-type: none;
  
}

.footer-row-first{
    display: flex;
    justify-content: center;
    gap: 5%;
    height: 35%;
}
.footer-row-first-item{
  width: 300px;
}
.footer-row-second{
    display: flex;
}
.footer-row-third ul{
    display: flex;
    gap: 5%;
    
   
}
.footer-row-third ul li{
    font-weight: 400;
}
.footer form{
    display: flex;
    margin-top: 6%;
}

.footer input{
  
    font-family: 'futura';
    background-color: rgb(183, 206, 255);
    user-select: none;
    border: none;
}