.breadcrumbs{
    display: flex;
    align-items: center;
    gap:10px;
    font-size: 17px;
    padding-left: 3%;
    margin-top: 30px;
    margin-bottom: 40px;
    background-color: rgb(224, 253, 222);
}