.productDisplay{
    display: flex;

}
.productDisplay-left{
    display: flex;
    gap:20px;
    margin-left: 70px;
}
.productDisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.productDisplay-img-list img{
    width: 100px;
}
.productDisplay-main-img{
    margin-left: 13%;
    width: 290px;
}
.productDisplay-right{
    margin-left: 10%;
    margin-right: 8%;
    display: flex;
    flex-direction: column;
}
.productDisplay-right button{
    margin-top: 50px;
    width: 150px;

}
.productDisplay-right-desc{
    text-align: left;
}